In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv('data/ratings.csv')

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [8]:
data_path = 'data/ratings.csv'
dtype = {"userId": np.int32, "movieId": np.int32, "rating": np.float32}
        # 加载数据，我们只用前三列数据，分别是用户ID，电影ID，已经用户对电影的对应评分
ratings = pd.read_csv(data_path, dtype=dtype, usecols=range(3))
        # 透视表，将电影ID转换为列名称，转换成为一个User-Movie的评分矩阵
ratings_matrix = ratings.pivot_table(index=["userId"], columns=["movieId"], values="rating")
ratings_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
print(ratings_matrix)
print(ratings_matrix.loc[1].dropna().values.tolist())
print(ratings_matrix.loc[608].dropna().values.tolist())

movieId  1       2       3       4       5       6       7       8       \
userId
1           4.0     NaN     4.0     NaN     NaN     4.0     NaN     NaN
2           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
5           4.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...     ...     ...     ...
606         2.5     NaN     NaN     NaN     NaN     NaN     2.5     NaN
607         4.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
608         2.5     2.0     2.0     NaN     NaN     NaN     NaN     NaN
609         3.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
610         5.0     NaN     NaN     NaN     NaN     5.0     NaN     NaN

movieId  9       10      ...  193565  193567  193571  193573  193579  193581  \
userId                   ...
1           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
2           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
3           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
4           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
5           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...  ...     ...     ...     ...     ...     ...     ...
606         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
607         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
608         NaN     4.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
609         NaN     4.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
610         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN

movieId  193583  193585  193587  193609
userId
1           NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN
5           NaN     NaN     NaN     NaN
...         ...     ...     ...     ...
606         NaN     NaN     NaN     NaN
607         NaN     NaN     NaN     NaN
608         NaN     NaN     NaN     NaN
609         NaN     NaN     NaN     NaN
610         NaN     NaN     NaN     NaN

[610 rows x 9724 columns]
[4.0, 4.0, 4.0, 5.0, 5.0, 3.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 3.0, 5.0, 4.0, 5.0, 3.0, 3.0, 5.0, 4.0, 4.0, 5.0, 4.0, 3.0, 4.0, 5.0, 4.0, 3.0, 5.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 5.0, 5.0, 3.0, 5.0, 3.0, 4.0, 3.0, 3.0, 4.0, 5.0, 5.0, 5.0, 4.0, 5.0, 3.0, 5.0, 5.0, 5.0, 5.0, 3.0, 5.0, 5.0, 4.0, 5.0, 4.0, 5.0, 5.0, 5.0, 4.0, 5.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 5.0, 5.0, 4.0, 2.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 3.0, 4.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 3.0, 3.0, 3.0, 3.0, 4.0, 4.0, 5.0, 4.0, 5.0, 3.0, 5.0, 5.0, 4.0, 5.0, 3.0, 3.0, 5.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, 4.0, 5.0, 4.0, 5.0, 4.0, 5.0, 5.0, 5.0, 3.0, 5.0, 4.0, 4.0, 4.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 5.0, 4.0, 4.0, 2.0, 4.0, 4.0, 5.0, 5.0, 2.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 3.0, 5.0, 4.0, 5.0, 5.0, 4.0, 4.0, 5.0, 3.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 2.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 3.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 5.0, 5.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 4.0, 5.0, 4.0, 1.0, 3.0, 3.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0]
[2.5, 2.0, 2.0, 4.0, 4.5, 2.0, 3.5, 2.0, 3.0, 3.5, 3.5, 3.0, 0.5, 4.5, 0.5, 4.5, 0.5, 2.0, 3.0, 2.5, 2.5, 2.0, 3.0, 3.0, 4.0, 3.0, 3.0, 3.5, 2.0, 2.5, 0.5, 2.5, 3.0, 0.5, 4.5, 4.0, 3.0, 1.5, 2.5, 0.5, 3.0, 3.5, 3.0, 3.0, 2.5, 3.0, 2.5, 2.5, 3.0, 3.5, 3.0, 3.5, 3.0, 2.5, 3.0, 2.5, 4.0, 5.0, 0.5, 3.0, 3.0, 4.5, 3.5, 3.0, 4.0, 2.5, 3.5, 4.0, 2.0, 3.0, 3.0, 3.5, 2.5, 2.0, 3.0, 2.0, 0.5, 2.5, 3.0, 3.0, 4.0, 1.5, 3.5, 2.5, 2.5, 3.0, 2.5, 2.5, 1.5, 0.5, 4.5, 2.5, 4.0, 1.0, 3.0, 1.5, 1.5, 1.5, 3.0, 2.0, 4.0, 2.5, 1.0, 2.5, 0.5, 4.0, 1.5, 3.5, 2.5, 3.5, 3.5, 0.5, 3.5, 1.5, 3.5, 3.5, 0.5, 1.0, 2.5, 3.0, 3.0, 3.0, 3.0, 4.0, 2.5, 2.5, 0.5, 2.5, 3.0, 3.5, 3.5, 3.5, 3.0, 3.0, 4.0, 3.0, 3.0, 2.0, 1.0, 3.0, 4.0, 3.0, 0.5, 3.5, 1.5, 4.0, 2.0, 3.0, 3.0, 2.5, 3.0, 2.5, 3.0, 2.5, 4.0, 3.0, 3.5, 1.0, 3.5, 0.5, 3.0, 3.0, 1.0, 3.0, 2.0, 5.0, 3.0, 2.5, 3.5, 3.0, 0.5, 2.5, 2.5, 1.5, 2.5, 3.5, 3.0, 2.0, 3.0, 3.5, 3.0, 4.0, 3.0, 3.0, 3.5, 2.0, 4.0, 0.5, 2.5, 2.5, 3.0, 3.0, 3.0, 3.0, 3.5, 4.0, 4.5, 3.5, 3.0, 4.0, 4.5, 4.0, 3.5, 3.0, 4.0, 4.5, 3.0, 3.5, 3.5, 3.0, 4.0, 4.0, 3.5, 4.0, 2.0, 2.5, 4.0, 2.5, 2.0, 2.0, 4.0, 3.0, 4.0, 3.5, 2.0, 3.5, 3.5, 2.5, 2.5, 3.5, 3.0, 4.0, 1.5, 3.0, 2.5, 1.5, 3.0, 2.0, 4.5, 2.5, 3.0, 3.0, 3.0, 4.0, 0.5, 3.0, 4.0, 3.5, 3.0, 2.0, 2.0, 4.0, 2.5, 3.5, 2.5, 2.5, 4.0, 4.0, 3.0, 3.5, 2.5, 3.0, 3.5, 3.0, 3.5, 3.0, 3.0, 4.0, 1.0, 2.5, 3.0, 4.5, 5.0, 3.5, 3.5, 0.5, 4.5, 4.0, 2.0, 4.5, 1.0, 3.5, 2.0, 3.0, 2.5, 4.5, 4.0, 5.0, 4.0, 4.0, 4.5, 0.5, 4.0, 2.5, 2.5, 3.5, 3.5, 3.0, 4.5, 3.0, 3.5, 3.5, 2.5, 1.5, 3.5, 3.5, 3.5, 3.5, 3.0, 4.5, 3.5, 4.5, 4.5, 4.5, 4.0, 3.0, 3.0, 4.5, 3.5, 3.5, 3.0, 2.5, 2.0, 2.5, 3.0, 2.5, 2.5, 3.5, 4.5, 4.5, 1.5, 1.0, 1.5, 2.0, 3.0, 0.5, 1.0, 3.0, 3.0, 3.0, 3.0, 2.5, 3.0, 4.5, 3.5, 3.0, 4.0, 2.5, 1.0, 3.0, 1.5, 2.0, 4.0, 3.0, 4.0, 3.0, 2.0, 3.5, 3.5, 5.0, 4.0, 1.0, 2.5, 3.0, 3.0, 3.0, 3.5, 4.0, 2.0, 3.0, 3.5, 2.5, 4.0, 2.5, 1.5, 4.0, 4.0, 2.5, 3.5, 2.0, 3.0, 2.0, 3.5, 4.0, 3.0, 2.0, 1.5, 4.5, 5.0, 5.0, 3.5, 3.5, 3.0, 4.0, 2.0, 2.5, 3.0, 3.5, 4.5, 5.0, 4.0, 1.0, 4.5, 2.0, 3.5, 4.0, 4.0, 2.5, 3.5, 4.0, 3.0, 1.5, 3.0, 2.5, 2.5, 3.0, 1.5, 3.0, 3.0, 3.0, 3.0, 1.0, 4.5, 4.5, 4.0, 2.5, 1.0, 0.5, 3.5, 1.0, 2.0, 4.0, 3.5, 5.0, 3.0, 3.5, 1.0, 4.0, 2.0, 4.0, 1.0, 5.0, 2.0, 1.5, 3.0, 3.0, 2.0, 3.5, 3.5, 3.0, 4.0, 4.5, 4.0, 4.0, 2.5, 2.5, 2.0, 4.0, 4.5, 4.0, 4.0, 0.5, 3.0, 3.0, 2.0, 2.0, 1.5, 4.0, 3.0, 2.5, 2.5, 3.0, 2.5, 3.0, 2.0, 2.0, 1.0, 4.0, 3.0, 3.5, 4.5, 4.5, 4.5, 2.5, 2.5, 3.5, 2.5, 4.0, 1.5, 3.0, 2.5, 3.0, 3.5, 2.0, 2.0, 0.5, 3.5, 3.0, 2.0, 2.5, 4.0, 4.5, 3.0, 3.0, 3.0, 4.5, 3.0, 2.5, 3.0, 4.0, 2.0, 2.0, 3.0, 3.5, 2.0, 3.5, 1.5, 1.0, 2.0, 3.5, 3.5, 4.0, 2.0, 4.0, 4.0, 3.0, 2.5, 4.0, 3.0, 1.0, 2.0, 1.5, 3.5, 4.0, 2.0, 1.0, 2.0, 4.0, 3.0, 4.0, 3.0, 4.0, 5.0, 2.0, 3.0, 3.5, 2.5, 2.5, 3.5, 4.5, 4.0, 5.0, 2.5, 4.0, 4.0, 3.5, 3.0, 2.5, 4.5, 4.5, 1.0, 4.5, 3.0, 2.5, 3.0, 1.5, 3.5, 3.0, 4.5, 3.5, 3.5, 1.5, 4.5, 4.5, 3.0, 4.0, 3.0, 1.0, 0.5, 4.0, 3.5, 4.5, 0.5, 3.0, 1.0, 4.0, 4.5, 3.0, 3.5, 4.0, 4.5, 2.0, 2.0, 2.0, 4.5, 2.0, 4.5, 3.0, 4.0, 2.0, 2.5, 2.0, 3.5, 0.5, 2.5, 3.0, 3.0, 3.0, 2.5, 3.0, 3.5, 0.5, 0.5, 3.5, 4.5, 2.5, 0.5, 1.5, 4.5, 3.0, 2.5, 4.0, 4.0, 3.0, 3.0, 3.5, 4.5, 4.0, 3.5, 4.0, 3.0, 4.0, 4.5, 3.0, 4.0, 2.5, 3.5, 4.5, 4.5, 2.5, 3.0, 4.0, 4.0, 4.5, 0.5, 3.5, 4.0, 4.0, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 3.0, 1.5, 3.0, 3.0, 4.5, 4.0, 2.0, 4.5, 3.5, 4.5, 3.0, 1.0, 4.0, 4.0, 4.0, 3.5, 4.5, 1.0, 3.5, 4.5, 3.5, 3.5, 4.5, 2.0, 3.0, 3.5, 4.5, 4.0, 5.0, 2.5, 3.0, 4.5, 4.0, 4.0, 4.0, 4.0, 4.0, 4.5, 3.0, 4.0, 4.0, 4.0, 1.0, 4.0, 3.5, 4.5, 4.0, 4.0, 4.0, 2.5, 4.0, 2.0, 4.0, 5.0, 4.5, 4.0, 4.5, 3.5, 3.5, 2.0, 4.0, 4.0, 4.5, 4.0, 4.5, 3.0, 4.5, 3.5, 4.0, 4.5, 3.5, 3.5, 2.0, 3.5, 0.5, 2.5, 4.5, 2.0, 3.0, 4.0, 4.0, 1.5, 4.5, 5.0, 4.0, 2.5, 4.0, 3.0, 0.5, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 3.5, 4.0, 4.0, 4.0, 4.0, 4.5, 4.0, 4.0, 4.5, 5.0, 3.5, 4.0, 5.0, 4.5, 3.5, 1.0, 4.0, 4.5, 4.5, 4.0, 4.0, 4.0, 4.5, 3.0, 3.5, 3.5, 2.5, 3.0, 3.5, 4.5, 4.0, 3.5, 3.5, 3.5, 4.0, 4.0, 4.0, 5.0, 3.5, 5.0, 4.5, 3.5, 4.0, 4.0, 3.0, 4.5, 4.5, 4.0, 4.5, 4.0, 3.5, 3.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 5.0, 3.5, 4.5, 4.0, 4.5, 4.0, 4.0, 4.0, 4.5, 3.0, 4.5, 4.0, 2.0, 4.0, 4.0, 4.0, 3.5, 4.5, 5.0, 2.5, 4.0, 3.0, 5.0, 4.5]

In [11]:
similarity = ratings_matrix.T.corr()
similarity

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,NaN,0.079819,0.207983,0.268749,-0.291636,-0.118773,0.469668,0.918559,-0.037987,...,0.091574,0.000000,-0.061503,-0.407556,-0.164871,0.066378,0.174557,0.268070,-0.175412,-0.032086
2,NaN,1.000000,NaN,NaN,NaN,NaN,-0.991241,NaN,NaN,0.037796,...,-0.387347,NaN,-1.000000,NaN,NaN,0.583333,NaN,-0.125000,NaN,0.623288
3,0.079819,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.433200,NaN,NaN,-0.791334,-0.333333,-0.395092,NaN,0.569562
4,0.207983,NaN,NaN,1.000000,-0.336525,0.148498,0.542861,0.117851,NaN,0.485794,...,-0.222113,0.396641,0.090090,-0.080296,0.400124,0.144603,0.116518,-0.170501,-0.277350,-0.043786
5,0.268749,NaN,NaN,-0.336525,1.000000,0.043166,0.158114,0.028347,NaN,-0.777714,...,0.000000,0.153303,0.234743,0.067791,-0.364156,0.244321,0.231080,-0.020546,0.384111,0.040582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.066378,0.583333,-0.791334,0.144603,0.244321,-0.049192,0.137771,0.253582,0.572700,-0.382955,...,0.290490,0.140613,0.318473,0.682949,0.167062,1.000000,0.114191,0.240842,0.533002,0.389185
607,0.174557,NaN,-0.333333,0.116518,0.231080,0.255639,0.402792,0.251280,NaN,-0.241121,...,0.698241,0.217210,0.192787,0.035806,-0.299641,0.114191,1.000000,0.200814,0.190117,0.106605
608,0.268070,-0.125000,-0.395092,-0.170501,-0.020546,0.125428,0.008081,0.434423,0.336625,-0.571043,...,0.473967,0.297646,0.086423,0.053986,-0.075673,0.240842,0.200814,1.000000,0.488929,0.147606
609,-0.175412,NaN,NaN,-0.277350,0.384111,0.193649,0.420288,0.141860,NaN,NaN,...,1.000000,0.188512,0.343303,0.641624,-0.550000,0.533002,0.190117,0.488929,1.000000,-0.521773
610,-0.032086,0.623288,0.569562,-0.043786,0.040582,0.115580,0.341233,0.167931,0.615638,-0.205081,...,0.007025,0.049263,0.270908,0.310611,0.462274,0.389185,0.106605,0.147606,-0.521773,1.000000

In [14]:
similarity[1]

userId
1      1.000000
2           NaN
3      0.079819
4      0.207983
5      0.268749
         ...
606    0.066378
607    0.174557
608    0.268070
609   -0.175412
610   -0.032086
Name: 1, Length: 610, dtype: float64

In [18]:
#print("开始预测用户<%d>对电影<%d>的评分..."%(uid, iid))
uid = 1
iid = 1
# 1. 找出uid用户的相似用户
similar_users = similarity[uid].drop([uid]).dropna()
# 相似用户筛选规则：正相关的用户
similar_users = similar_users.where(similar_users>0).dropna()
if similar_users.empty is True:
    raise Exception("用户<%d>没有相似的用户" % uid)

# 2. 从uid用户的近邻相似用户中筛选出对iid物品有评分记录的近邻用户
ids = set(ratings_matrix[iid].dropna().index)&set(similar_users.index)
finally_similar_users = similar_users.ix[list(ids)]
key = finally_similar_users

C:\Users\dcySB\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  del sys.path[0]

In [12]:
# ......
# 其他代码

def predict(uid, iid, ratings_matrix, user_similar):
    '''
    预测给定用户对给定物品的评分值
    :param uid: 用户ID
    :param iid: 物品ID
    :param ratings_matrix: 用户-物品评分矩阵
    :param user_similar: 用户两两相似度矩阵
    :return: 预测的评分值
    '''
    print("开始预测用户<%d>对电影<%d>的评分..."%(uid, iid))
    # 1. 找出uid用户的相似用户
    similar_users = user_similar[uid].drop([uid]).dropna()
    # 相似用户筛选规则：正相关的用户
    similar_users = similar_users.where(similar_users>0).dropna()
    if similar_users.empty is True:
        raise Exception("用户<%d>没有相似的用户" % uid)

    # 2. 从uid用户的近邻相似用户中筛选出对iid物品有评分记录的近邻用户
    ids = set(ratings_matrix[iid].dropna().index)&set(similar_users.index)
    finally_similar_users = similar_users.ix[list(ids)]

    # 3. 结合uid用户与其近邻用户的相似度预测uid用户对iid物品的评分
    sum_up = 0    # 评分预测公式的分子部分的值
    sum_down = 0    # 评分预测公式的分母部分的值
    for sim_uid, similarity in finally_similar_users.iteritems():
        # 近邻用户的评分数据
        sim_user_rated_movies = ratings_matrix.ix[sim_uid].dropna()
        # 近邻用户对iid物品的评分
        sim_user_rating_for_item = sim_user_rated_movies[iid]
        # 计算分子的值
        sum_up += similarity * sim_user_rating_for_item
        # 计算分母的值
        sum_down += similarity

    # 计算预测的评分值并返回
    predict_rating = sum_up/sum_down
    print("预测出用户<%d>对电影<%d>的评分：%0.2f" % (uid, iid, predict_rating))
    return round(predict_rating, 2)

In [13]:
predict(1, 2, ratings_matrix, similarity)

开始预测用户<1>对电影<2>的评分...
预测出用户<1>对电影<2>的评分：3.38

C:\Users\dcySB\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
C:\Users\dcySB\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

3.38