In [17]:
import pandas as pd
import csv
from pandas import Series, DataFrame

In [18]:
news = pd.read_csv('all_news1.csv', names=['type', 'content'],encoding='utf-8')

In [19]:
news

     type                       content
0      时政        新冠病毒疫苗接种问答来了！涉及34个关键问题
1      时政              国家移民管理机构将启用队旗和标志
2      时政      美中政策基金会主席：中美知识鸿沟恐将伤害美国外交
3      时政     解析新冠重组亚单位蛋白疫苗：精准识别病毒最核心部分
4      时政    上海：“在沪停留超24小时所有人员需强制登记”系误读
...   ...                           ...
4156   文化  “最冷”3月后急速回暖 电影清明档票房超8亿元创多项纪录
4157   文化                三星堆黄金面具是如何出土的？
4158   文化       恐龙VS昆虫？“漫画生命进化史”让科普如脱口秀
4159   文化           第五届诗意生活节让观众深度感受艺术魅力
4160   文化           谭盾携手西安交响乐团演绎“戏剧交响诗”

[4161 rows x 2 columns]

### 获取DataFrame表格中的值  
print(frame2.loc['one']['state'])  先按行索引，再按列索引  
print(frame2['debt'][1])  先按列索引，再按行索引  

从新闻网上爬取的类别为：时政、国际、社会、财经、产经、金融、汽车、港澳、台湾、华人、娱乐、体育、文化共13类。 

我们对类别进行重新设定：时政、 国际(国际/华人)、社会、财经(财经/产经/金融)、港澳台(港澳/台湾)、汽车、娱乐、体育、文化变为9类。 

将括号里的原类别合并形成新类别，需要同学们对爬取的数据做下处理再进行训练，类别与ID的对应关系如下： 

-------------ID  类别 -------------

0  时政 

1  国际 

2  社会 

3  财经 

4  港澳台 

5  汽车 

6  娱乐 

7  体育 

8  文化

In [22]:
for i in range (4161):
    ty = news['type'][i] 
    if news['type'][i] == '时政':
        news['type'][i] = 0
    if news['type'][i] == '国际':
        news['type'][i] = 1
    if news['type'][i] == '华人':
        news['type'][i] = 1
    if news['type'][i] == '社会':
        news['type'][i] = 2
    if news['type'][i] == '财经':
        news['type'][i] = 3
    if news['type'][i] == '金融':
        news['type'][i] = 3
    if news['type'][i] == '产经':
        news['type'][i] = 3
    if news['type'][i] == '汽车':
        news['type'][i] = 5
    if news['type'][i] == '港澳':
        news['type'][i] = 4
    if news['type'][i] == '台湾':
        news['type'][i] = 4
    if news['type'][i] == '娱乐':
        news['type'][i] = 6
    if news['type'][i] == '体育':
        news['type'][i] = 7
    if news['type'][i] == '文化':
        news['type'][i] = 8

In [23]:
news

     type                       content
0       0        新冠病毒疫苗接种问答来了！涉及34个关键问题
1       0              国家移民管理机构将启用队旗和标志
2       0      美中政策基金会主席：中美知识鸿沟恐将伤害美国外交
3       0     解析新冠重组亚单位蛋白疫苗：精准识别病毒最核心部分
4       0    上海：“在沪停留超24小时所有人员需强制登记”系误读
...   ...                           ...
4156    8  “最冷”3月后急速回暖 电影清明档票房超8亿元创多项纪录
4157    8                三星堆黄金面具是如何出土的？
4158    8       恐龙VS昆虫？“漫画生命进化史”让科普如脱口秀
4159    8           第五届诗意生活节让观众深度感受艺术魅力
4160    8           谭盾携手西安交响乐团演绎“戏剧交响诗”

[4161 rows x 2 columns]

In [ ]:
# 我们生成一个新的数据文本，并将所有新闻标题写入新文件
with open('all_news.csv', 'w',encoding='utf-8') as f:
    for i in range(len(all_news)):
        f.write(str(all_news[i])+'\n') 
f.close()