In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv(r'test\test_news.tsv',sep = '\t')
df

,Nid,Category,SubCategory,Title,Abstract
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the..."
1,N18955,health,medical,Dispose of unwanted prescription drugs during ...,NaN
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re..."
...,...,...,...,...,...
42411,N63550,lifestyle,lifestyleroyals,Why Kate & Meghan Were on Different Balconies ...,There's no scandal here. It's all about the or...
42412,N30345,entertainment,entertainment-celebrity,See the stars at the 2019 Baby2Baby gala,Stars like Chrissy Teigen and Kate Hudson supp...
42413,N30135,news,newsgoodnews,Tennessee judge holds lawyer's baby as he swea...,Tennessee Court of Appeals Judge Richard Dinki...
42414,N44276,autos,autossports,Best Sports Car Deals for October,NaN
42415,N39563,sports,more_sports,Shall we dance: Sports stars shake their leg,NaN

In [19]:
(m, n) = df.shape
print(m,n)

42416 5

In [20]:
data_array = np.array(df)
data_array

array([['N55528', 'lifestyle', 'lifestyleroyals',
        'The Brands Queen Elizabeth, Prince Charles, and Prince Philip Swear By',
        "Shop the notebooks, jackets, and more that the royals can't live without."],
       ['N18955', 'health', 'medical',
        "Dispose of unwanted prescription drugs during the DEA's Take Back Day",
        nan],
       ['N61837', 'news', 'newsworld',
        "The Cost of Trump's Aid Freeze in the Trenches of Ukraine's War",
        'Lt. Ivan Molchanets peeked over a parapet of sand bags at the front line of the war in Ukraine. Next to him was an empty helmet propped up to trick snipers, already perforated with multiple holes.'],
       ...,
       ['N30135', 'news', 'newsgoodnews',
        "Tennessee judge holds lawyer's baby as he swears her into the state bar in viral video",
        "Tennessee Court of Appeals Judge Richard Dinkins is going viral after a video showed him swearing in a new lawyer last week while holding her baby.In footage making the rounds online, Dinkins could be seen lightly bouncing the baby on his hip while he administered the oath to Juliana Lamar, the mother of the 1-year-old child who recently graduated from Belmont University College of Law, according to BuzzFeed News.Y'all. Judge Dinkins of the..."],
       ['N44276', 'autos', 'autossports',
        'Best Sports Car Deals for October', nan],
       ['N39563', 'sports', 'more_sports',
        'Shall we dance: Sports stars shake their leg', nan]],
      dtype=object)

In [21]:
# 按顺序提取所有新闻代号
all_items_names = np.array(df.iloc[:m+1, 0])
all_items_names

array(['N55528', 'N18955', 'N61837', ..., 'N30135', 'N44276', 'N39563'],
      dtype=object)

In [22]:
# 按指定顺序排列的所有新闻标签
all_labels = np.array(df.iloc[:m+1, 1])
all_labels = list(set(all_labels))
labels_num = len(all_labels)
all_labels

['sports',
 'lifestyle',
 'entertainment',
 'games',
 'middleeast',
 'health',
 'news',
 'travel',
 'tv',
 'finance',
 'kids',
 'weather',
 'foodanddrink',
 'video',
 'autos',
 'movies',
 'music']

In [23]:
# 创建一个01矩阵，0表示该新闻不属于该类型，1表示该新闻属于该类型
data_to_be_written = []

In [24]:
for i in range(len(all_items_names)):

    # 每个新闻的01向量
    vector = [0] * labels_num
    labels_names = str(data_array[i][1]).split(" ")
    #print(labels_names)
    for j in range(len(labels_names)):
        location = all_labels.index(labels_names[j])
        vector[location] = 1

    data_to_be_written.append(vector)

# 将01矩阵写入“news01.xlsx”
df = pd.DataFrame(data_to_be_written, index=all_items_names, columns=all_labels)
df.to_excel("news01.xlsx")

# PS: 记得在生成的“news01.xlsx”中节目名那一列的首个空白的单元格中打上“新闻标题”